.root {
    border: 5px;
    padding: 5px;
}

.tables {
    display: flex;
    /* height: 30%; */
}

.img {
    margin: "0px 10%";
}
.column {
    width: 50%;
    padding: 1%;
}

.column:first-child {
    width: 50%;
    /* padding-top: 60px; */
    /* padding-right: 15px; */
}

.column:last-child {
    width: 50%;
    /* padding-left: 15px; */
}

.dx-icon-custom-style {
    color: red;
}
